<!DOCTYPE html>
<html lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Portally</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/themefy_icon/themify-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/swiper_slider/css/swiper.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/select2/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/niceselect/css/nice-select.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/owl_carousel/css/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/gijgo/gijgo.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/font_awesome/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/tagsinput/tagsinput.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/datatable/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/datatable/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/text_editor/summernote-bs4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/morris/morris.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/material_icon/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/metisMenu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colors/default.css') }}">


</head>

<style>

    #login_box{

        padding-top: 100px;
    
    }

</style>


<body class="crm_body_bg">
    
    <div class="main_content_iner ">
        <div class="container-fluid plr_30 body_white_bg pt_30">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="white_box mb_30">
                        <div class="row justify-content-center">
                            <div class="col-lg-6" id="login_box">
                                <!-- login  -->
                                <div class="modal-content cs_modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Log in</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/login/admin" method="POST">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="emp_id" placeholder="Enter your Emp ID">
                                            </div>
                                            <!-- <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div> -->
                                            <button type="submit" class="btn_1 full_width text-center">Next</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
        </div>
    </div>

    
<!-- main content part end -->

<!-- footer  -->
<!-- jquery slim -->
<script src="static/js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="static/js/popper.min.js"></script>
<!-- bootstarp js -->
<script src="static/js/bootstrap.min.js"></script>
<!-- sidebar menu  -->
<script src="static/js/metisMenu.js"></script>
<!-- waypoints js -->
<script src="static/vendors/count_up/jquery.waypoints.min.js"></script>
<!-- waypoints js -->
<script src="static/vendors/chartlist/Chart.min.js"></script>
<!-- counterup js -->
<script src="static/vendors/count_up/jquery.counterup.min.js"></script>
<!-- swiper slider js -->
<script src="static/vendors/swiper_slider/js/swiper.min.js"></script>
<!-- nice select -->
<script src="static/vendors/niceselect/js/jquery.nice-select.min.js"></script>
<!-- owl carousel -->
<script src="static/vendors/owl_carousel/js/owl.carousel.min.js"></script>
<!-- gijgo css -->
<script src="static/vendors/gijgo/gijgo.min.js"></script>
<!-- responsive table -->
<script src="static/vendors/datatable/js/jquery.dataTables.min.js"></script>
<script src="static/vendors/datatable/js/dataTables.responsive.min.js"></script>
<script src="static/vendors/datatable/js/dataTables.buttons.min.js"></script>
<script src="static/vendors/datatable/js/buttons.flash.min.js"></script>
<script src="static/vendors/datatable/js/jszip.min.js"></script>
<script src="static/vendors/datatable/js/pdfmake.min.js"></script>
<script src="static/vendors/datatable/js/vfs_fonts.js"></script>
<script src="static/vendors/datatable/js/buttons.html5.min.js"></script>
<script src="static/vendors/datatable/js/buttons.print.min.js"></script>

<script src="static/js/chart.min.js"></script>
<!-- progressbar js -->
<script src="static/vendors/progressbar/jquery.barfiller.js"></script>
<!-- tag input -->
<script src="static/vendors/tagsinput/tagsinput.js"></script>
<!-- text editor js -->
<script src="static/vendors/text_editor/summernote-bs4.js"></script>


<!-- custom js -->
<script src="static/js/custom.js"></script>

<!-- active_chart js -->
<!-- <?php if (basename($_SERVER['PHP_SELF']) == 'index.php') {?> -->
<script src="static/js/active_chart.js"></script>
<!-- <?php }?> -->

</body>

</html>