<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Portally</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/themefy_icon/themify-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/swiper_slider/css/swiper.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/select2/css/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/niceselect/css/nice-select.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/owl_carousel/css/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/gijgo/gijgo.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/font_awesome/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/tagsinput/tagsinput.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/datatable/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/datatable/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/text_editor/summernote-bs4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/morris/morris.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/material_icon/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/metisMenu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colors/default.css') }}">

</head>

<style>

    /* #login_box{

        padding-left: 100px;

    } */


</style>

<body>

    <div class="main_content_iner ">
        <div class="container-fluid plr_30 body_white_bg pt_30">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="white_box mb_30">
                        <div class="row justify-content-center">
                            <div class="col-lg-6" id="login_box">
                                <!-- login  -->
                                <div class="modal-content cs_modal">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Log in</h5>
                                    </div>
                                    <div class="modal-body">

                                        <div id="login_box">

                                            {% if load %}
                        
                                            {% else %}
                        
                                                {% include './partials/_sawo.html' %}
                                
                                            {% endif %}
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
        </div>
    </div>

               

  


</body>
</html>